.postBody {
  & h2 {
    padding-bottom: .75rem;
    border-bottom: 2px solid var(--color-hero);
  }

  & p {
    & a {
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }

      & code {
        color: var(--color-link);
      }
    }

    & code {
      padding: .2rem .4rem;
      color: var(--color-text);
      background-color: var(--color-bg-pre);
    }
  }

  & blockquote {
    margin-right: 0;
    margin-left: 0;
    padding: 1rem;
    color: var(--color-text-blockquote);
    background-color: var(--color-bg-blockquote);
  }

  & hr {
    margin-top: 2rem;
    margin-right: -1rem;
    margin-bottom: 2rem;
    margin-left: -1rem;
    background: #aaa;
  }
}
